@font-face {
    font-family: u1;
    src: url(./font/Kajiro\ Bold.ttf);
}
@font-face {
    font-family: u2;
    src: url(./font/pxiEyp8kv8JHgFVrJJfecg.ttf);
}
@font-face {
    font-family: u3;
    src: url(./font/MAKISUPA.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: u2;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.284); */
}
#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 90%;
    height: 80%;
    background-size: cover;
    object-fit: cover;
}
/* #back img:nth-last-child(2){
    width: 60%;
    height: auto;
    background-size: cover;
    object-fit: cover;
} */
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.234);
}
#work{
    margin: 0 auto;
    width: 94%;
    height: 100vh;
    max-width: 1920px;
    position: relative;
    /* border: 2px solid #005; */
}
#nav{
    background-color: rgba(24, 24, 24, 0.214);
    color: #fff;
    width:100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 30px;
}
#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 30px;
    
    font-size: 13px;
}
#nav a{
    font-size: 16px;
    letter-spacing: 2;
    pointer-events: all;
    color: #fff;
    font-family: u2;
    text-decoration: none;
}
#hero{
    top: 50%;
    left: 0;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    /* background-color: #005; */
    transform: translate(0%,-40%);
}
#heroleft{
    padding: 3vw 0;
    min-width: 50%;
    /* background-color: chartreuse; */
}
#heroleft .elem{
    position: relative;

    height: 9vw;
    overflow: hidden;
    /* background-color: red; */
}
#heroleft .elem h1:nth-child(1){
    top: 0;
}
#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: u1;
    font-weight: 100;
    font-size: 9.5vw;
    color: #ffffff;
}

#heroleft #h1 button{
    pointer-events: all;
    background-color: #fff;
    width: auto;
    padding: .7vw 2vw;
    margin-top: 2vw;
    font-size: 2vw;
    font-family: u3;
    text-decoration: none;
    
    border: 1px  solid red;
   transition: all 2s;
}
#heroleft button a{
    text-decoration: none;
    color: #001;
}
#heroleft  #h1:hover button{
    background: red;
    color: #ffffff;
    border: 2px  solid #fff;
    transform: rotate3d(1.5,1.111,.51,-20deg);
}

#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    /* background-color: rgba(3, 132, 74, 0.427); */

}
#heroright p{
 text-align: center;
 font-size: 14px;
 font-family: u3;
 font-weight: 200;
 color: aliceblue;
}
#imagediv{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    /* background-color: #fff; */
    background-image: url(./img/building-2.jpg); 
    background-size: cover;
    background-position: center;
}